In [18]:
import numpy as np
import pandas as pd
x=pd.DataFrame(np.array([1,2,3,4,5]) ,columns=['x'])
y=pd.DataFrame(np.array([4,3,4,2,5]) ,columns=['y'])
print(x)
y

   x
0  1
1  2
2  3
3  4
4  5

   y
0  4
1  3
2  4
3  2
4  5

In [20]:
from sklearn.linear_model import LinearRegression
df=LinearRegression()
df.fit(x,y)
print(df.coef_)
print(df.intercept_)

[[0.1]]
[3.3]

In [22]:
from sklearn.metrics import r2_score
value=df.predict(x); 
value

array([[3.4],
       [3.5],
       [3.6],
       [3.7],
       [3.8]])

In [23]:
r2_score(y,value)

0.019230769230769162